# Auto detect text files and perform LF normalization
* text=auto

# Text files that would always have LF line endings
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.sql text eol=lf
